@import "~bootstrap/scss/bootstrap";

body {
  background-color: tomato;
}

#movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}