@import "~bootstrap/scss/bootstrap";

body {
  background-color: tomato;
  margin: 5px;
}

#movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#search-input {
  margin: 5px;
}